===== Reporting on the closures of CFMUTEST.CFMUTEST_CONFIG.30.0.0.7 and CFMUTEST.CFMUTEST_CONFIG.30.0.0.8

===== Differences between CFMUTEST.CFMUTEST_CONFIG.30.0.0.7 and CFMUTEST.CFMUTEST_CONFIG.30.0.0.8
      Merge from <- 887ca8ef testadm.integration_30 RELATED_CHANGES="SC-100 " 
      Merge from <- 15d9c042 carol.mailing_list RELATED_CHANGES="SC-100 " 
      changed c7036cd0:CFMUTEST/CFMUTEST_CONFIG/special_files/mail_list RELATED_CHANGES="SC-100 " 
===== CFMUTEST_CONFIG Software Changes Report
      SC_100              CR_1             mail list

===== Differences between TACT.TACT_CONFIG.30.0.0.3 and TACT.TACT_CONFIG.30.0.0.4
      Merge from <- 56cefb1f4 testadm.integration_30 RELATED_CHANGES=" " 
      +++++ Dependency changed to TACT.UIF.30.0.0.130
===== TACT_CONFIG Software Changes Report

===== Differences between TACT.UIF.30.0.0.129 and TACT.UIF.30.0.0.130
      Merge from <- 6627849d2 testadm.integration_30 RELATED_CHANGES="SC-1 SC-2 " 
      Merge from <- a2721a86a alice.fix_b RELATED_CHANGES="SC-1 SC-2 " 
      Merge from <- c3fb81031 CFMUTEST.CFMUTEST_CONFIG.30.0.0.6 review-ok: yes; reviewed-by: bob; review-date: 260922.151702;
      changed c3fb81031:TACT/UIF/sources/b.adb RELATED_CHANGES=" " 
      changed 13e00da4a:TACT/UIF/sources/b.adb RELATED_CHANGES="SC-2 " 
      changed bc399bc5f:TACT/UIF/sources/b.adb RELATED_CHANGES="SC-2 " 
      Merge from <- d508f73af bob.also_b RELATED_CHANGES="SC-1 " 
      Merge from <- 4f82e11db CFMUTEST.CFMUTEST_CONFIG.30.0.0.6 
      changed 33340af6c:TACT/UIF/sources/b.adb RELATED_CHANGES="SC-1 " review-ok: no; reviewed-by: carol, dave; review-date: 260923.101010;
      added   44440af6c:TACT/UIF/sources/c.ads RELATED_CHANGES="SC-1 " 
      changed 55550af6c:TACT/UIF/sources/d.adb RELATED_CHANGES="SC-2 " 
===== UIF Software Changes Report
      SC_1   CR_1   Fix b

===== Differences between IFPS.OPIF_LIB.30.0.0.125 and IFPS.OPIF_LIB.30.0.0.126
      Merge from <- c9601a76 testadm.integration_30 RELATED_CHANGES="SC-3 " 
      removed c08d2ec7:IFPS/OPIF_LIB/sources/Pmake.out RELATED_CHANGES="SC-3 " 
      Merge from <- 364ada20 alice.fix_b RELATED_CHANGES="SC-3 " 
      removed a88abac6:IFPS/OPIF_LIB/sources/old_thing.ads RELATED_CHANGES="SC-3 " 
      added   a88abac6:IFPS/OPIF_LIB/sources/new_thing.ads RELATED_CHANGES="SC-3 " 
===== OPIF_LIB Software Changes Report
      SC_3   CR_7   New thing

===== Differences between TACT.DOC.30.0.0.1 and TACT.DOC.30.0.0.2
      Merge from <- d0c0d0c0 dave.user_guide RELATED_CHANGES="SC-9 " 
      added   d0c00000:TACT/DOC/doc/chapter1.txt RELATED_CHANGES="SC-9 " 
      added   d0c00001:TACT/DOC/doc/chapter2.txt RELATED_CHANGES="SC-9 " 
      added   d0c00002:TACT/DOC/doc/chapter3.txt RELATED_CHANGES="SC-9 " 
      added   d0c00003:TACT/DOC/doc/chapter4.txt RELATED_CHANGES="SC-9 " 
      added   d0c00004:TACT/DOC/doc/chapter5.txt RELATED_CHANGES="SC-9 " 
      added   d0c00005:TACT/DOC/doc/chapter6.txt RELATED_CHANGES="SC-9 " 
      added   d0c00006:TACT/DOC/doc/chapter7.txt RELATED_CHANGES="SC-9 " 
      added   d0c00007:TACT/DOC/doc/chapter8.txt RELATED_CHANGES="SC-9 " 
      added   d0c00008:TACT/DOC/doc/index.html RELATED_CHANGES="SC-9 " 
      added   d0c00009:TACT/DOC/doc/toc.html RELATED_CHANGES="SC-9 " 
===== DOC Software Changes Report
      SC_9   CR_9   User guide

This report is saved in /cm/ot/CFMUTEST/baseline_reports/CFMUTEST.CFMUTEST_CONFIG.30.0.0.8.changes_report
